/* src/index.css */
:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
}

.pinklight {
  --bg-color: pink;
  --text-color: purple;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Add any other global styles here */
